[submodule "Arduino/config/libraries/modmata"]
	path = Arduino/config/libraries/modmata
	url = https://github.com/shutch42/modmata
[submodule "ModmataC"]
	path = ModmataC
	url = https://github.com/shutch42/ModmataC.git
[submodule "Arduino/Arduino/config/libraries/LiquidCrystal"]
	path = Arduino/config/libraries/LiquidCrystal
	url = https://github.com/arduino-libraries/LiquidCrystal
[submodule "Arduino/Arduino/config/libraries/Servo"]
	path = Arduino/config/libraries/Servo
	url = https://github.com/arduino-libraries/Servo.git
