[submodule "Arduino/config/libraries/modmata"]
	path = Arduino/config/libraries/modmata
	url = https://github.com/shutch42/modmata
[submodule "ModmataC"]
	path = ModmataC
	url = https://github.com/shutch42/ModmataC.git
